<form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label>
    <span>Full name</span>
    <input 
      type="text" 
      placeholder="Your full name" 
      name="name" 
      #userName="ngModel"
      ngModel 
      minlength="2"
      required>
  </label>
  <div *ngIf="userName.errors?.required && userName.touched" class="error">
    Name is required
  </div>
  <div *ngIf="userName.errors?.minlength && userName.touched" class="error">
    The minimum length is 2 characters.
  </div>
  <div ngModelGroup="account" #userAccount="ngModelGroup">
    <label>
      <span>Email address</span>
      <input
        type="email"
        placeholder="Your email address"
        name="email"
        #email="ngModel"
        ngModel 
        minlength="5"
        required>
    </label>
    <label>
      <span>Confirm address</span>
      <input
        type="email"
        placeholder="Confirm your email address"
        name="confirm"
        ngModel 
        #confirm="ngModel"
        minlength="5"
        required>
    </label>
    <div *ngIf="userAccount.invalid && userAccount.touched" class="error">
      Min length is 5 characters
    </div>
  </div>
  <button type="submit" [disabled]="f.isInvalid">Sign up</button>
  
</form>
{{ user | json }}<br>
{{ f.value | json }}<br>
{{ f.controls.name?.errors | json }}